<div class="plugin">
	<top-bar heading="heading" last-updated="lastGet" no-refresh-btn></top-bar>
        <div class="clearfix"></div>	
	<div class="plugin-body">

		<canvas class="canvas" width="400" height="200"></canvas>

		<table class="metrics-table">
			<tbody>
				<tr ng-repeat="metric in metricsArray">
					<td>
                                          <div class="metric-square tdline-{{metric.tdclass}}">
						</div>
					</td>
					<td>{{ metric.name }}</td>
					<td>{{ metric.data }}</td>
				</tr>
			</tbody>
		</table>
	
		
	</div>

</plugin>
