<plugin 
        class="fullwidth"
	heading="DNS Configuration"
	last-updated="lastGet"
	on-refresh="getData()">


	<table ng-show="dnsInfoData">
		<thead>
			<tr>
				<th class="col-sm3">Type</th>
                                <th>Current Value</th>
                                <th>Correct Value</th>
			</tr>
		</thead>
		<tbody ng-repeat="dns in dnsInfoData">
                  <tr> 
				<td class="col-sm3">{{ dns['TypeA'] }}</td>
				<td>{{ dns['valA'] }} </td>
				<td>{{ dns['valAok'] }}</td>
			</tr>
                  <tr>
                                <td class="col-sm3">{{ dns['TypeMX'] }}</td>
                                <td>{{ dns['valMX'] }} </td>
                                <td>{{ dns['valMXok'] }}dello </td>
                        </tr>

		</tbody>
	</table>
	
</plugin>
