<plugin 
        class="fullwidth"
	heading="DNS Configuration"
	last-updated="lastGet"
	on-refresh="getData()">


	<table ng-show="dnsInfoData">
		<thead>
			<tr>

				<th class="col-sm3">Type</th>
                                <th>Name</th>
                                <th>Current Value</th>
                                <th>Correct Value</th>
			</tr>
		</thead>
		<tbody>
                  <tr> 
                    <td class="col-sm3 {{ dnsInfoData['classA'] }}">{{ dnsInfoData['TypeA'] }}</td>
                                <td>{{ dnsInfoData['Fqdn'] }} </td>
				<td>{{ dnsInfoData['valA'] }} </td>
				<td>{{ dnsInfoData['valAok'] }}</td>
			</tr>
                  <tr>
                    <td class="col-sm3 {{ dnsInfoData['classMX'] }}">{{ dnsInfoData['TypeMX'] }}</td>
                                <td>{{ dnsInfoData['Fqdn'] }} </td>
                                <td>{{ dnsInfoData['valMX'] }} </td>
                                <td>{{ dnsInfoData['valMXok'] }}.</td>
                        </tr>
                  <tr>
                    <td class="col-sm3 {{ dnsInfoData['classSPF'] }}">{{ dnsInfoData['TypeSPF'] }}</td>
                                <td>{{ dnsInfoData['Fqdn'] }} </td>
                                <td>"{{ dnsInfoData['valSPF'] }}"</td>
                                <td>"{{ dnsInfoData['valSPFok'] }}" </td>
                        </tr>
                  <tr>
                    <td class="col-sm3 {{ dnsInfoData['classDKIM'] }}">{{ dnsInfoData['TypeDKIM'] }}</td>
                                <td>default._domainkey.{{ dnsInfoData['Fqdn'] }} </td>
                                <td>"{{ dnsInfoData['valDKIM'] }}"</td>
                                <td>"{{ dnsInfoData['valDKIMok'] }}"</td>
                        </tr>


		</tbody>
	</table>
	
</plugin>
